*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:lightgray;
}
/* navbar */
#navbar{
    
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}
#navbar .nav-link{
    color: darkmagenta;
    font-weight: bold;
    margin-left: 5px;
    transition: 0.5s ease;
}
#navbar .nav-link:hover{
    color: black;
    border-radius: 5px;
}
/* navbar */
/* home content */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    font-family: 'Roboto Slab', serif;
    padding-top: 30px;
  
   
}
.home .img{
   padding-top: 50px;
   padding-right: 20px;
    flex: 1 1 300px;
}
.home .img img{
    width: 100%;
}
.home .content{
    flex: 1 1 400px;
    margin-top: 30px;
}
.content h3{
    margin-left: 70px;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    color: rgb(160, 39, 160);
    font-weight: bold;
}
.content h3 span{
    font-size: 40px;
}
.content h5{
    margin-left: 70px;
    color: black;
}
.content #contact{
    margin-left: 70px;
    width: 200px;
    height: 38px;
    border: 2px solid rgb(160, 39, 160);
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 10px;
    
}
.content #contact:hover{
    background-color: rgb(160, 39, 160);
    color: white;
}
@media screen and (max-width:800px){
    .content h3{
        margin-left: 50px;
        font-size: 40px;
    }
    .content h5{
        margin-left: 50px;
    }
    
    .content #contact{
        margin-left: 50px;
    }
}
@media screen and (max-width:570px){
    .content h3{
        margin-left: 20px;
    }
    .content h5{
        margin-left: 20px;
    }
    .content #contact{
        margin-left: 20px;
    }
}
@media screen and (max-width:799px){
    .home-section{
        height: 150vh;
    }
}
@media screen and (max-width:550px){
    .home-section{
        height: 100vh;
    }
}
.about-img img{
    margin-top: 50px;
}
h1{
    color:rgb(160, 39, 160);
}
h2{
    
    color:rgb(160, 39, 160);
}
.about-text .btn{
    background-color:rgb(160, 39, 160) ;
}